/* Preflights are needed for default values of variables */
@unocss preflights;

.wrapper {
  @apply absolute fixed flex flex-col bg-[var(--eureka-transparent-accent)] h-full left-0 top-0 w-full z-11726;
}

.wrapper * {
  @apply box-sizing-[border-box];
}

.modal {
  @apply rounded-[var(--eureka-form-radius)] max-w-150 w-full m-auto;
  border: 4px solid var(--eureka-ui-white-transparent);
}

.header {
  @apply flex items-center justify-between p-x-2 h-[var(--eureka-library-header-height)] rounded-t-[var(--eureka-form-radius)] bg-[var(--eureka-accent)];
}

.header .placeholder {
  @apply w-8 h-8;
}

.header span {
  @apply text-[var(--eureka-ui-white)] font-500;
}

.header button {
  @apply p-[var(--eureka-space)] rounded-full bg-[var(--eureka-ui-white-transparent)] hover:scale-125 transition-transform outline-none border-none w-8 h-8 flex items-center justify-center;
}

.header button img {
  @apply w-3.5 h-3.5 rotate-45;
}

.body {
  @apply p-[calc(var(--eureka-space)*2)] bg-[var(--eureka-ui-white)] rounded-b-[var(--eureka-form-radius)] flex flex-col max-h-80vh overflow-y-auto;
}

.tabs {
  @apply flex gap-2 mb-4 border-b border-gray-200;
}

.tab {
  @apply px-4 py-2 select-none text-[var(--eureka-text-primary)] cursor-pointer hover:text-[var(--eureka-accent)];
}

.tab.active {
  @apply text-[var(--eureka-accent)];
  border-bottom: 2px solid;
}

.loaderTabs {
  @apply flex gap-2 mb-4 select-none items-center;
}

.loaderTab {
  @apply px-4 py-2 rounded-t-md cursor-pointer bg-gray-100 text-[var(--eureka-text-primary)];
}

.loaderTab.active {
  @apply bg-[var(--eureka-accent)] text-white;
}

.button {
  @apply cursor-pointer px-4 py-2 rounded-md bg-[var(--eureka-accent)] outline-none text-white hover:opacity-90 w-fit;
  border: 1px solid var(--eureka-secondary);
}

.button:disabled {
  @apply cursor-not-allowed bg-[var(--eureka-transparent-accent)] hover:opacity-100;
}

.input {
  @apply w-full px-3 py-2 border rounded-md focus:outline-none hover:border-[var(--eureka-accent)] focus:border-[var(--eureka-accent)] border-[var(--eureka-black-transparent)] transition-all;
}

.loaderItems {
  @apply gap-4 flex flex-col;
}

.input:focus {
  box-shadow: 0 0 0 0.25rem var(--eureka-transparent-accent)
}

.input::placeholder {
  @apply text-[var(--eureka-text-primary)];
}

.textarea {
  @apply w-full px-3 py-2 border rounded-md focus:outline-none border-[var(--eureka-black-transparent)] focus:border-[var(--eureka-accent)] hover:border-[var(--eureka-accent)] min-h-[100px] transition-all;
}

.textarea::placeholder {
  @apply text-[var(--eureka-text-primary)];
}

.textarea:focus {
  box-shadow: 0 0 0 0.25rem var(--eureka-transparent-accent);
}

.loadedExtensions {
  @apply mb-4;
}

.extensionItem {
  @apply flex flex-col p-2 border-b border-gray-200;
}

.extensionItem .name {
  @apply font-bold text-[var(--eureka-text-primary)];
}

.extensionItem .url {
  @apply text-sm text-[var(--eureka-text-primary)];
}

.loaderForm {
  @apply mt-4;
}

.switch {
  width: 3rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  border: solid var(--eureka-black-transparent) 1px;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
  position: relative;
}

.switch .true {
  background-color: var(--eureka-primary);
}

.switch .false {
  background-color: #e6e6e6;
}

.switch .disabled {
  background-color: #7c7c7c;
}

.slider {
  @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-gray-200 transition-all rounded-full;
}

.slider::before {
  content: "";
  @apply absolute h-[1.25rem] w-[1.25rem] left-[0.125rem] bottom-[0.125rem] bg-white transition-transform rounded-full;
}

.switch.true .slider {
  background-color: var(--eureka-accent);
}

.switch.true .slider::before {
  transform: translateX(1.5rem);
}

.switch.disabled .slider {
  background-color: #7c7c7c;
  cursor: not-allowed;
}

.dummyInput {
  display: none;
}

.settings {
  @apply flex flex-col;
}

.settings .label {
  @apply font-bold text-[var(--eureka-text-primary)] py-2;
}

.settings .settingsItem {
  @apply flex items-center pl-2 py-4 justify-between font-size-sm color-[var(--eureka-text-primary)] p-2 hover:bg-gray-300 rounded transition-all;
}
